.nav-container {
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.nav-container>nav>button{
    height: 32px;
    border: 1px solid black;
    background-color: white;
}
.content-container>header{
    text-align: center;
}
.core-content{
    display: flex;
    margin: 50px;
}
.core-item{
    background-color: aliceblue;
    width: 100%;
    border: 0;
    border-radius: 8px;
    margin: 10px;
}
.core-content>.item-left{
    padding-right: 30%;
    height: 300px;
    
}
.core-content>.item-right{
    height: 500px;
}
.core-item>header>h2{
    text-align: center;
}
.our-package-content{
    background-color:aliceblue;
    align-content: center;
}
.our-package-content>h1{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.item-form{
    display: flex;
    flex-direction: column;
}
.item-form>input{
    height: 32px;
    width: 80%;
    margin-left: 8px;
    border: 1px solid green;
    border-radius: 4px;
}
.paragraf{
    text-align: justify;
}